html {
    background-color:lightskyblue;
    font-size: 14px;
}

body {
    margin: 0; 
    max-width: 1000%; 
    align-items: center;
}

h1 {
    font-family: "MuseoModerno", sans-serif;
    font-size: xx-large;
}

nav {
    margin: 0;
    width: 100%;
    height: 75px; 
    position: fixed;
    left: 0;
    right: 0;
    align-items: center;
    background-color: whitesmoke; 
    display: flex;
    justify-content: space-evenly;
    margin-right: 10px;
}

.box > h1 {
    padding-top: 25px;
}

a {
    margin: 20px; 
    color: black;
    font-style: italic;
    text-decoration: none;
    font-size: large;
}

img {
    padding-top: 50px;
    height: 500px;
    width: 500px;
}

nav > h1 {
    color: black;
    left: 0;
    top: 0;
    display: flex;
    font-size: x-large;
}

section {
    min-height: 500px;
    width: 100%;
    background-color: rgba(135, 206, 250, 0.279); 
    display: flex;
    align-items: center;
    text-align: center;
    padding: 50px;
    flex-direction: row;
    justify-content: space-around;
}

.box {
 align-items: center;   
}

p {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding-right: 15%;
    padding-left: 15%;
    font-style: italic;
    font-size: 25px;
}

h2 {
    font-style: italic;
}

footer {
    background-color: whitesmoke;    
    margin: 0px;
    width: 100%;
    height: 50px; 
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    background-color: whitesmoke; 
    display: flex;
    justify-content: space-between;
    text-align: center;
}

footer > img {
    display: flex;
    height: 45px;
    overflow: clip;
    align-items: center;
    text-align: center;
    padding: 50%;
}

/* when the screen gets to a smaller size that the header can not fit, makes the nav only the links and changes the background color  */

@media only screen and (max-width: 566px) {
    html {
      background-color:white;
    }

    nav > h1 
    {
        display: none;
    }

    section {
        background-color: white;
    }
  }

